h1 {
  color: white;
  font-family: "Archivo Black Regular";
  font-size: 50px;
}

body {
  background: black;
  background-image:url("images/headshot.jpg");
}

.btn {
    background-color: black;
    border: white solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 18px;
}

.toplow {
  padding-top: 50px
}

.top_center {
  position:fixed;
  width: 100%;
  text-align: center;
}

.center {
  text-align: center;
}

h2 {
  color: white;
  font-size: 25px;
  text-decoration: underline;
}

p {
  color:white;
  font-size: 20px;
}

#contact {
  font-size: 25px;
  text-align: right;
  text-decoration: underline;
}

h3 {
  color: white;
  text-align: right;
  font-size: 20px;
}

.border {
  border: white solid;
}
